@font-face {
	font-family: 'Agency FB Bold';
	src: url('./assets/agency-fb-bold.ttf');
}

html, body, .alt-wrapper, .application {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Agency FB Bold', 'Trebuchet MS', sans-serif;
	overflow: hidden;
}

* {
	user-select: none;
}

#app {
	background: transparent !important;
}

.point-num {
	font-weight: normal !important;
}

.point-num.large-points {
	font-style: normal;
	margin-left: 5px;
	font-size: 24px;
}

.point-num.med-points {
	font-style: normal;
	margin-left: 3px;
	font-size: 20px;
}

.clip-txt {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: text;
}

.alt-wrapper.offset {
	height: calc(100% - 80px);
	margin-top: 40px;
}

.alt-wrapper.fullscreen {
	height: calc(100% - 140px);
	margin-top: 100px;
}
.v-tooltip__content,
.v-list__tile__title,
.title,
.headline {
	font-family: 'Agency FB Bold', 'Trebuchet MS', sans-serif !important;
}

.v-tooltip__content {
	font-size: 15px;
	padding: 3px 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal !important;
	line-height: normal !important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.pointer {
	cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .4s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.vb > .vb-dragger {
    z-index: 5;
    width: 10px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: rgba(230, 199, 118, .7);
    margin: 5px 3px 5px 0;
    height: 100%;
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(230, 199, 118, .8);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(230, 199, 118, 1);
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(230, 199, 118, 1);
}
